body
{
    margin: 0;
    font-size: 1.2em;
}
header
{
    background-color: #689bed;
}
h1
{
    font-size: 4em;
    color: white;
    text-align: center;
    padding: 30px;
}
form
{
    text-align: center;
    font-weight: bold;
}
.form_edit
{
    width: 80%;
    background-color: #e5e7ea;
    border-radius: 7px;
}
button
{
    border: 2px solid #4d78bc;
    border-radius: 7px;
    background-color: #739ee2;
    padding: 8px;
    font-size: 1em;
}